doctype html
html
    head
        link(rel="sytlesheet", href="css/app.css")
    body
        include app/content
        //TODO: need to include a section.jade for each data file

        script(src="js/app.js")